/*-------------- Google font----------- */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@600&display=swap');
    
 /*------------ container-start----------- */
 body{
     /* background-color: #AAAA; */
     margin:0 auto;
     padding:0;
     font-family: 'Lora', serif;
     font-family: 'Montserrat', sans-serif;
 }
 .container{
     /* width:90%; */
     /* width: 100%; */
     width: 90%;
     margin:0 auto;
     padding:70px 100px;
     background-color: #fff;
 }
 /*------------- container -end------------*/


 /*--------------- header-start--------------- */
 .navigation-var{
   display: flex;
   justify-content: space-between;
 }

 .title-style{
     font-size: 40px;
 }
 .icon{
     font-size: 30px;
     padding-top: 20px;
     color: rgba(255, 166, 0, 0.767);
 }
 .fa-search{
     margin-right: 30px;
 }
 /*-------------------- header-end ------------------------------*/


 /* .----------------------influencer-area-start -----------------------*/
.influencer{
   display: flex;
   justify-content: space-between;
}
@media (max-width:688px) {
    .influencer{
        flex-direction: column;
    }
}
@media only screen and (min-width:690px;) (max-width:900px;) {
    .influencer{
        flex-direction: row;
    }
}
.contant{
    width: 50%;
    padding: 0 20px;
}
/* .contant{
    width: 50%;
    background-color: red;
} */
 .contant h1{
     font-size: 40px;
 }
 .contant p{
     font-size: 25px;
     text-align:left;
 }
 .first-button{
     font-size: 26px;
     background-color: orange;
     color: white;
     border-radius: 30px;
     border-style: none;
     padding: 10px 10px;
 }
 .first-font-icon{
     font-size: 30px;
     color: white;
 }
 .pic{
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
    } 
    .top-img{
        background-color: #aaaaaa;
        border-radius:800px ;
    }
  .photograper{
     width: 400px;
     height: 400px;
     border: 5px solid white;
     border-radius:800px;
 }
 
 hr{
     color: #aaaaaa04;
 } 
 .animation{
     /* display: flex;
     height: 100px;
     align-items: center;
     justify-content: center;
     cursor: pointer; */
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;


 }
 @media (max-width:688px) {
     .animation{
       flex-direction: column;
       justify-content: center;
     }
     .box{
         width: 10px;
         height: 10px;
         border-radius: 5px;
         margin: 10px;
     }
     .box:hover{
         width: 20px;
         height: 20px;
     }
 }
 .box{
     width: 50px;
     height: 50px;
     background-color: orange;
     border-radius: 10px;
     transition: width 1s,height 1s, transform 2s;
     cursor: pointer;
 }
 .box:hover{
     width: 90px;
     height: 90px;
     transform: rotate(360deg);
    
 }


 /* ---------------.influencer-area-end ---------------------- */



 /*----------------- Logo-start---------------------- */
 .Logo-area{
     display: flex;
     /* grid-template-columns: repeat(7,1fr);
     grid-column-gap: 10px;
     padding: 20px 20px;
     margin-top: 20px; */
     justify-content: space-around;
     padding: 20px 20px ;
     margin-top: 20px;
 }
 @media (max-width:688px) {
     .Logo-area{
         display: grid;
         grid-template-rows: repeat(7.1fr);
         grid-row-gap: 10px;
         /* flex-direction: column; */

         padding: 10px 10px ;
         margin-top: 10px;
     }
 }
 /* ---------------Logo-end ---------------*/



 /* --------------------Card-start------------------------ */
.heading{
    font-size: 40px;
    text-align: center;
}
.card-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 40px; 
    padding-top: 30px;
    padding-left: 50px;
    padding: 10px 10px;
    background-color: #aaaaaa27;
}
@media (max-width:688px) {
    .card-area{
        grid-template-columns: repeat(2,1fr);
    }
    /* #last-card{
        display: grid;
        grid-template-rows: repeat(1,1fr);
    } */
}
.card{
    background-color: white;
   padding-left: 20px;
   padding-top: 15px;
   padding-bottom: 15px;
    
}
.card img{
    width: 95%;
    border-radius: 10px;
}
.card h2{
    font-size: 30px;
}
.price{
    font-size: 25px;
}
.star{
    font-size: 15px;
    color: #FF9529;
}
.item-info{
    font-size: 20px;
    line-height: 30px;
    color: #aaaaaa;
}
/*----------------------- second-button-start-------------------- */
.last-button{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 20px;
}
.second-button{
    background-color: white;
    border: none;
}
h5{
    font-size: 20px;
    color: orange;
}
/* .fa-arrow-right{
    font-size: 20px;
    color: orange; */
}
/*--------------------- second-button-end -----------------*/
/* -------------------------card-end -----------------------------*/



/* ----------------------feature-section-start --------------------------*/
.last-contant{
   display: flex;
   justify-content: space-between;
}
@media (max-width:688px) {
    .last-contant{
        flex-direction: column;
    }
    .photo{
       grid-template-columns: repeat(1,1fr);
       
    }
    .photo img{
        width: 350px;
        height: 300px;
    }
}
.feature{
    width: 50%;
    padding: 20px;
    margin: 10px;
}
.feature h1{
    font-size: 40px;
}
.color-change{
    color:orange;
}
.feature p{
    font-size: 20px;
    line-height: 30px;
}
.photo{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-row-gap: 20px;
   grid-column-gap: 20px;
 

}
/* -------------------feature-section-end----------------------- */



/* --------------------footer-area-start ----------------------*/
.footer{
    background-color:black;
    color: white;
    padding: 30px;
    margin: 0;
   
}
.footer-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
small{
    line-height: 30px;
}
.media-icon{
    display: flex;
    justify-content: center;
}
.fab{
   margin: 10px;
}
/* ----------------------footer-area-end------------------------------ */
