/*-------------- Google font----------- */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@600&display=swap');
 /*------------ container-start----------- */
 body{
     background-color: #AAAA;
    margin:5%;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
 }
 .container{
     width:90%;
     margin:0 auto;
     padding:100px 100px;
     background-color: #fff;
 }
 /*------------- container -end------------*/

 
 /*--------------- header-start--------------- */
 .navigation-var{
   display: flex;
   justify-content: space-between;
 }
 .title-style{
     font-size: 40px;
 }
 .icon{
     font-size: 30px;
     padding-top: 20px;
     color: rgba(255, 166, 0, 0.767);
 }
 .fa-search{
     margin-right: 30px;
 }
 /*-------------------- header-end ------------------------------*/


 /* .----------------------influencer-area-start -----------------------*/
.influencer{
         display: flex;
         justify-content: space-between;    
}
.contant{
    width: 50%;
    margin-right: 100px;
}
 .contant h1{
     font-size: 40px;
 }
 .contant p{
     font-size: 25px;
 }
 .first-button{
     font-size: 26px;
     background-color: orange;
     color: white;
     border-radius: 30px;
     border-style: none;
     padding: 10px;
 }
 .first-font-icon{
     font-size: 30px;
     color: white;
 }
 .contant pic{
     border: 1px solid #AAAAAA12;
     border-radius: 200px;
    margin-left: 300px;

 }
 .contant img{
     width: 530px;
     height: 484px;
     padding: 30px;
     background-color: #AAAAAA12;
     border: 5px solid white;
     border-radius:300px;
 }
 .top-img{
     padding: 0 60px;
 }
 hr{
     color: #aaaaaa04;
 } 
 /* ---------------.influencer-area-end ---------------------- */



 /*----------------- Logo-start---------------------- */
 .Logo-area{
     display: grid;
     grid-template-columns: repeat(7,1fr);
     grid-column-gap: 10px;
     padding: 20px 20px;
     margin-top: 20px;
 }
 /* ---------------Logo-end ---------------*/



 /* --------------------Card-start------------------------ */
.heading{
    font-size: 40px;
    text-align: center;
}
.card-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 20px;
    padding-left: 25px;
    background-color: #aaaaaa27;


    
}
.card{
    width: 345px;
    height: 560px;
    background-color: white;
    margin-bottom: 30px;
   padding-left: 20px;
   padding-top: 15px;
   padding-bottom: 15px;
    
}
.card img{
    width: 320px;
    border-radius: 10px;
}
.card h2{
    font-size: 30px;
}
.price{
    font-size: 25px;
}
.star{
    font-size: 15px;
    color: #FF9529;
}
.item-info{
    font-size: 20px;
    line-height: 30px;
    color: #aaaaaa;
}
/*----------------------- second-button-start-------------------- */
.last-button{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 20px;
}
.second-button{
    background-color: white;
    border: none;
}
h5{
    font-size: 20px;
    color: orange;
}
/* .fa-arrow-right{
    font-size: 20px;
    color: orange; */
}
/*--------------------- second-button-end -----------------*/
/* -------------------------card-end -----------------------------*/



/* ----------------------feature-section-start --------------------------*/
.last-contant{
    display: flex;
    justify-content: space-between;
}
.feature{
    width: 50%;
    padding: 20px;
    margin: 10px;
}
.feature h1{
    font-size: 40px;
}
.color-change{
    color:orange;
}
.feature p{
    font-size: 20px;
    line-height: 30px;
}
.photo{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-row-gap: 20px;
   grid-column-gap: 20px;
}
/* -------------------feature-section-end----------------------- */



/* --------------------footer-area-start ----------------------*/
.footer{
    background-color:black;
    color: white;
    padding: 30px;
   
}
.footer-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
small{
    line-height: 30px;
}
.media-icon{
    display: flex;
    justify-content: center;
}
.fab{
   margin: 10px;
}
/* ----------------------footer-area-end------------------------------ */
